### bscheibe .aliases

## Shell commands.
alias lla='pwd; ls -lAh --group-directories-first --color=auto'
alias ll='ls -lh --group-directories-first --color=auto'
alias h=history
alias search='grep --color=auto -rinI --e'
alias filesearch='tree -fia | grep --color=auto -i'
alias xname='echo "\033]0;\!:1\007"'
alias cp='cp -r'
alias mkdir='mkdir -p'
